.home-bg {
    min-width: 100vw;
    padding-bottom: 0px;
}

.home-logo {
    background-image: url(../../img/TAAP_FullLogo.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 15vw;
    width: 70vw;
    height: calc(70vw * 0.5625);
}

.home-nav-margin {
    margin-top: 10px;
}

.duke-bg {
    background-color: #012169;
}

.white-bg {
    background-color: #FFFFFF;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

@media (min-width: 767px) {
    .home-img {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}
@media (min-width: 992px) {
    .home-img {
        padding-top: 300px;
        padding-bottom: 300px;
}

.home-img {
    padding-top: 350px;
    padding-bottom: 350px;
}

.pointer {
    cursor: pointer;
}

@media (min-width: 1500px) {
    .container {
        width: 1450px;
    }
}

@media (min-width: 1800px) {
    .container {
        width: 1750px;
    }
}